<div class="page-header">
    <h1>Reset Password</h1>
</div>

<form ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regData,regForm.$valid,confirmed);" novalidate>

    <!--Password -->
    <div ng-class="{'has-success':(regForm.firstpassword.$valid && !regForm.firstpassword.$pristine),'has-error':(!regForm.firstpassword.$valid && !regForm.firstpassword.$pristine) || (!regForm.firstpassword.$valid && regForm.$submitted)}">
        <label>Password :</label>
        <input ng-disabled="reset.disabled" class="form-control" type="password" name="firstpassword" placeholder="Please enter password"
            ng-model="firstpassword" ng-pattern="/(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" required>
        <p class="help-block" ng-show="(!regForm.firstpassword.$pristine && regForm.firstpassword.$error.required) || (regForm.$submitted && regForm.firstpassword.$error.required)">This field is required</p>
        <ul class="help-block" ng-show="(!regForm.firstpassword.$pristine && regForm.firstpassword.$error.pattern) || (!regForm.firstpassword.$pristine &&  regForm.firstpassword.$error.minlength) || (!regForm.firstpassword.$pristine &&  regForm.firstpassword.$error.maxlength)">
            <li>Must contain atleast one lowercase letter </li>
            <li>Must contain atleast one Uppercase letter </li>
            <li>Must contain atleast one number and one special character</li>
            <li>must be at least 8 character long but no more than 35.</li>
        </ul>
    </div>
    <br>

    <!-- Confirm Password -->
    <div ng-class="{'has-success': confirmed && !regForm.confirmpassword.$error.required,
                'has-error':(!confirmed && !regForm.confirmpassword.$error.required) || 
                            (regForm.confirmpassword.$error.required && !regForm.confirmpassword.$pristine) ||
                            (regForm.confirmpassword.$error.required && regForm.$submitted)}">
        <label>Confirm Password :</label>
        <input class="form-control" type="password" name="confirmpassword" placeholder="Please enter password" ng-change="reset.regData.password = confirm"
            ng-model="confirm" match="{{[firstpassword]}}" required>
        <p class="help-block" ng-show="(!regForm.confirmpassword.$pristine && regForm.confirmpassword.$error.required) || (regForm.$submitted && regForm.confirmpassword.$error.required)">This field is required</p>
        <p class="help-block" ng-show="!confirmed && !regForm.confirmpassword.$pristine && regForm.firstpassword.$valid">Passwords do not match.</p>
    </div>
    <br>


    <button class="btn btn-primary" type="submit">Reset Password</button>

</form>
<br>
<div class="jumbotron text-center" ng-show="reset.loading">
    <h4>
        <span class="glyphicon glyphicon-repeat spinner">
            Loading....
        </span>
    </h4>
</div>
<br>
<div class="row show-hide-message" ng-show="reset.succMsg">
    <div class="alert alert-success">{{reset.succMsg}}</div>
</div>
<br>

<div class="row show-hide-message" ng-show="reset.errMsg">
    <div class="alert alert-danger">{{reset.errMsg}}</div>
</div>