<div class="page-header">
    <h1>Forgot Password</h1>
</div>

<form name="userform" ng-submit="forgotPwd.resetpassword(forgotPwd.userData,userform.$valid);" novalidate>

    <label>E-mail :</label>
    <input class="form-control" type="text" name="email" placeholder="Pleas enter your e-mail" ng-model="forgotPwd.userData.email"
        required>
    <br>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<br>
<div class="jumbotron text-center" ng-show="forgotPwd.loading">
    <h4>
        <span class="glyphicon glyphicon-repeat spinner">
            Loading....
        </span>
    </h4>
</div>
<br>
<div class="row show-hide-message" ng-show="forgotPwd.succMsg">
    <div class="alert alert-success">{{forgotPwd.succMsg}}</div>
</div>
<br>

<div class="row show-hide-message" ng-show="forgotPwd.errMsg">
    <div class="alert alert-danger">{{forgotPwd.errMsg}}</div>
</div>