
body {
	color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}

main {
	padding-top:30px;	
}

/* HEADER 
===================== */
header .navbar 		{ 
	border-radius:0;
}

/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */


.spinner {
	/* -webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite; */

	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 12px solid blue;
	border-right: 12px solid green;
	border-left: 12px solid green;
	border-bottom: 10px solid red;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin :0 auto;
}


@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
	


/* @keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }	
	to 	{ -moz-transform:rotate(360deg); }
} */

.reset{
	float: right;
}


/*
order.html	
*/
.order-badge{
	font-size: 17px;
}

/*
report.html
*/

.help-block{
	color: red;
}
.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}

/*Login*/

.login-form{
	width: 350px;
	margin: 0 auto;
	padding: 30px 0;
}

.login-form form {
	color: #434343;
	border-radius: 1px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h4 {
	text-align: center;
	font-size: 22px;
	margin-bottom: 20px;
}

.login-form .avatar {
	color: #fff;
	margin: 0 auto 30px;
	text-align: center;
	
	border-radius: 50%;
	z-index: 9;
	
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}


.login-form .avatar img{
	width: 109px;
    height: 127px;
    margin: 10px;
    border: 2px solid #1f1e1e;
    border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
}





.login-form .avatar span{
	font-size: 60px;
}
.login-form .form-group {
	margin-bottom: 20px;
}

.login-form .form-control, .login-form .btn {
	min-height: 40px;
	border-radius: 2px; 
	transition: all 0.5s;
}

.login-form .btn {
	background: #4aba70;
	border: none;
	line-height: normal;
}

.login-form .btn:hover, .login-form .btn:focus {
	background: #42ae68;
}

.login-form .forgot-link {
	float: right;
}

.login-form a {
	color: #4aba70;
}

.login-form .small {
	font-size: 15px;
}

/*transaction.*/

.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	margin: 30px 0;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-title {        
	padding-bottom: 15px;
	background: #052635;
	color: #fff;
	padding: 16px 30px;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
.table-footer{
	padding-bottom: 10px;
	background: #052635;
	color: #fff;
	padding: 16px 30px;
	margin: 0px -25px 10px;
	border-radius: 3px 3px 0 0;
}

.table-footer .btn {
	color: #fff;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}

.table-footer .btn .btn-gly {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}

.table-footer .btn span {
	float: left;
	margin-top: 2px;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}

.table-title .btn-group {
	float: right;
}

.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}

.table-title .btn .btn-gly {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}

.table-title .btn span {
	float: left;
	margin-top: 2px;
	font-size: 15px;
}

.table-title .label h1 {
	margin: 5px 0 0;
	
}
.table-title .total {
	font-size: 30px;
	
}

.table-title .total .badge {
	padding: 5x 12x;
	font-size: 30px;
	background-color: #1aa732
}

.order-table .list-group-item{
	font-size: 20px;
}

.order-table .badge {
	font-size: 18px;
}

/*Print Section*/

.print-section .cafeHeader{
	font-size: 16px;
}

.print-section .address{
	font-size: 12px;
}


.search-title {        
	padding-bottom: 15px;
    background: #4d7d92;
    color: #fff;
    padding: 16px 30px;
    margin: -6px -25px 12px;
    border-radius: 3px 3px 0 0;
}

.list-group-item {
	border-color: black;
}

.panel-default {
	border-color: black;
}

