<div class="row headerRow">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4">
                <button ng-show="transaction.orderData.details.length > 0" class="btn btn-info" ng-click="transaction.orderData.details = [];">Clear All</button>
            </div>
            <div class="col-md-4">
                <button ng-show="transaction.orderData.details.length > 0" class="btn btn-success" ng-click="transaction.placeOrder(panelForm.$valid);">Place Order</button>
            </div>
            <div class="col-md-4">
                <h3 ng-show="transaction.orderData.details.length > 0">Total :
                    <span class="label label-default">{{transaction.getTotal()}}</span>
                </h3>
            </div>

        </div>


    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <button type="button" ng-repeat="menu in transaction.menu" ng-click="transaction.changeMenu(menu);" class="list-group-item">{{menu.name}}</button>
            <!-- <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item">Morbi leo risus</button>
            <button type="button" class="list-group-item">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item">Vestibulum at eros</button> -->

        </div>
    </div>
    <div class="col-md-4">

        <button type="button" ng-repeat="submenu in transaction.selectedMenu.submenus" ng-click="transaction.addToCart(submenu)"
            class="list-group-item">{{submenu.name}}
            <span class="label label-default">Rs.{{submenu.price}}</span>

        </button>




    </div>
    <div class="col-md-4">


        <!-- <button type="button" class="list-group-item">{{panel.name}}
            <span class="label label-default">Rs. {{panel.cost}}</span>
            <div class="input-group">
                <span class="input-group-addon">Qty</span>
                <input class="form-control" name="qty" type="number" ng-model="panel.qty" ng-change="updateQty(panel);">

            </div>
        </button> -->
        <form name="panelForm">
            <div class="panel panel-default" ng-repeat="panel in transaction.orderData.details">
                <div class="panel-heading">
                    <div class="row">
                        <p class="col-md-6" class="panel-title">
                            <strong>{{panel.submenu}}</strong>
                        </p>
                        <p class="col-md-4" class="panel-title">
                            <span class="badge order-badge">Rs. {{panel.cost}}</span>
                        </p>
                        <div class="col-md-2">
                            <!-- <button class="btn btn-danger" type="button" ng-click="transaction.removeFromCart(panel);">Remove</button> -->
                            <button type="button" class="close" ng-click="transaction.removeFromCart(panel);">&times;</button>
                        </div>
                    </div>

                </div>
                <div ng-form="cellForm" class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon">Qty</span>
                        <input class="form-control" min="1" name="qty" type="number" ng-model="panel.qty" ng-change="updateQty(panel,cellForm.qty.$valid);"
                            ng-pattern="/^[0-9]\d*(\.\d+)?$/" required>
                    </div>
                    <div ng-show="cellForm.$dirty && cellForm.$invalid">
                        <span ng-show="cellForm.qty.$error.required" style="color:red">
                            This field is required
                        </span>
                        <span style="color:red" ng-show="(!cellForm.qty.$pristine && cellForm.qty.$error.pattern)">
                            Please enter valid price!</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<button type="button" ng-click="Print()">Print</button>
<div class="text-center" ng-show="transaction.loading">
    <div class="spinner">
    </div>
</div>
<br>
<div class="row show-hide-message" ng-show="transaction.succMsg">
    <div class="alert alert-success">{{transaction.succMsg}}</div>
</div>
<br>

<div class="row show-hide-message" ng-show="transaction.errMsg">
    <div class="alert alert-danger">{{transaction.errMsg}}</div>
</div>

<!--Printing-->



<div id="print-section" >
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="margin-bottom: -2px;">
                <div class="panel-heading betSummaryHeader text-center">
                    <strong>
                        <span>{{transaction.printData.cafe.name}}</span>
                    </strong>
                    <table align="center" class="text-center">
                        <tr>
                            <td>{{transaction.printData.cafe.address.address1}}</td>
                        </tr>
                        <tr>
                            <td>{{transaction.printData.cafe.address.address2}}</td>
                        </tr>
                        <tr>
                            <td>Mo : {{transaction.printData.cafe.phone}}</td>
                        </tr>
                    </table>
                </div>
                <!-- <div class="panel-heading betSummaryHeader visible-print text-center"> 
                    <span> sample  </span>
                    <br>
                    <img src="../assets/images/logo.jpg" />
                    <div class="clearfix"></div>
                </div> -->
                <div class="panel-body betSummaryPanel">
                    <div class="row">
                        <div class="col-md-12">
                            # : {{transaction.printData.transaction._id}}
                            <span class="pull-right">{{app.printData.transaction._id}}</span>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            # : {{transaction.printData.transaction.createdDate}}
                            <span class="pull-right">{{app.printData.transaction.createdDate}}</span>
                        </div>
                    </div>
                     -->
                    <hr style="border-top: 1px solid #000;">
                    <div ng-repeat="item in transaction.printData.details" class="row">
                        <div class="col-md-12">
                            <strong>{{item.submenu}}</strong>
                            <span class="pull-right">{{item.cost}}</span>
                        </div>
                        <div class="col-md-12">{{item.qty}} X {{item.submenu_price}}</div>
                    </div>
                    <hr style="border-top: 1px solid #000;">

                    <div class="row">
                        <div class="col-md-12">
                            CGST {{transaction.printData.cafe.gst.cgst}} %
                            <span class="pull-right">{{((transaction.printData.cafe.gst.cgst / 100) * transaction.printData.totalcost).toFixed(2)}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            SGST {{transaction.printData.cafe.gst.sgst}} %
                            <span class="pull-right">{{((transaction.printData.cafe.gst.sgst / 100) * transaction.printData.totalcost).toFixed(2)}}</span>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-12" style="font-weight:bold;">
                            Total :
                            <span class="pull-right">{{transaction.printData.totalcost}}</span>
                        </div>
                    </div>
                    <hr style="border-top: 1px solid #000;">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            GST No. - {{transaction.printData.cafe.gst.gstno}}
                        </div>
                    </div>

                </div>
            </div>

            <!-- <div class="panel panel-default betSummaryFooter" style="margin-bottom: 0px">
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4 hidden-print">
                        Total :
                        <span class="pull-right">160</span>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4 text-center">
                        <svg id="barcode" class="visible-print"></svg>
                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
                        
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>