<form name="myForm" ng-submit="report.getTransactionReports(myForm.$valid);" novalidate>
    <div class="row">

        <div class="col-md-4">
            <label for="fromDate">From Date:</label>
            <input type="date" id="fromDate" name="fromDateControl" ng-model="fromDateModel" placeholder="yyyy-MM-dd" min="2013-01-01"
                max="{{report.maxDate}}" required />
            <div role="alert">


                <span class="help-block" ng-show="myForm.fromDateControl.$error.required">
                    Required!</span>
                <span class="help-block" ng-show="myForm.fromDateControl.$error.max">
                    Future Dates are not allowed!</span>
                <span class="help-block" ng-show="myForm.fromDateControl.$error.min">
                    Historical dates are not allowed!</span>
            </div>

        </div>

        <div class="col-md-4">
            <label for="toDate">To Date:</label>
            <input type="date" id="toDate" name="toDateControl" ng-model="toDateModel" placeholder="yyyy-MM-dd" min="2013-01-01" max="{{report.maxDate}}"
                required />
            <div role="alert">
                <span class="help-block" ng-show="myForm.fromDateControl.$error.endBeforeStart">End date must be on or after start date.</span>
                <span class="help-block" ng-show="myForm.toDateControl.$error.max">
                    Future Dates are not allowed!</span>
                <span class="help-block" ng-show="myForm.toDateControl.$error.min">
                    Historical dates are not allowed!</span>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>

    </div>
</form>

<div class="row" ng-show="report.transactions.length > 0">
    <div class="panel-heading">
        <strong>Order Summary</strong>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>#</th>

            <th ng-click="sort('createdDate')">Time
                <span class="glyphicon sort-icon" ng-show="sortKey=='createdDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('totalcost')">Amount (Rs.)
                <span class="glyphicon sort-icon" ng-show="sortKey=='totalcost'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('sgst')">SGST (Rs.)
                <span class="glyphicon sort-icon" ng-show="sortKey=='sgst'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('cgst')">CGST (Rs.)
                    <span class="glyphicon sort-icon" ng-show="sortKey=='cgst'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
        </tr>
        <tr dir-paginate-start="tran in report.transactions|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
            <td>
                <button ng-click="tran.isCollapsed=!tran.isCollapsed" expand>
                    <span ng-bind="tran.isCollapsed ? '-' : '+'"></span>
                </button>
            </td>
            <td>{{$index+1}}</td>
            <td>{{tran.createdDate | date:'medium'}}</td>
            <td>{{tran.totalcost}}</td>
            <td>{{tran.sgst}}</td>
            <td>{{tran.cgst}}</td>
        </tr>
        <tr dir-paginate-end ng-show="tran.isCollapsed">
            <td colspan="4">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Amount</th>
                    </tr>
                    <tbody ng-repeat="submenu in tran.details">
                        <tr>
                            <td>{{submenu.submenu}}</td>
                            <td>{{submenu.submenu_price}}</td>
                            <td> {{submenu.qty}}</td>
                            <td> {{submenu.cost}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

    </table>
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
    </dir-pagination-controls>
</div>

<div class="text-center" ng-show="report.loading">
    <div class="spinner">
    </div>
</div>
<br>
<div class="row show-hide-message" ng-show="report.succMsg">
    <div class="alert alert-success">{{report.succMsg}}</div>
</div>
<br>

<div class="row show-hide-message" ng-show="report.errMsg">
    <div class="alert alert-danger">{{report.errMsg}}</div>
</div>