<div class="page-header">
    <h1>Management</h1>
</div>


<br>
<div class="jumbotron text-center" ng-show="management.loading">
    <h4>
        <span class="glyphicon glyphicon-repeat spinner">
            Loading....
        </span>
    </h4>
</div>
<br>

<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>User Management</strong>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <tr ng-repeat="person in management.users">
            <td>{{person.name}}</td>
            <td>{{person.username}}</td>
            <td>{{person.email}}</td>
            <td>
                <a href="#">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
                <a href="#">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>

    </table>
</div>
<div class="row show-hide-message" ng-show="management.succMsg">
    <div class="alert alert-success">{{management.succMsg}}</div>
</div>
<br>

<div class="row show-hide-message" ng-show="management.errMsg">
    <div class="alert alert-danger">{{management.errMsg}}</div>
</div>