<form name="menuForm" ng-submit="menu.addmenu(menuData,menuForm.$valid);" novalidate>


    <div class="row">
        <div class="col-md-6" ng-class="{'has-success':(menuForm.name.$valid && !menuForm.name.$pristine),'has-error':(!menuForm.name.$valid && !menuForm.name.$pristine) || (!menuForm.name.$valid && menuForm.$submitted)}">
            <div class="form-group">
                <input type="text" ng-model="menu.menuData.name" name="name" class="form-control input-flat" placeholder="name" required/>

                <p class="help-block" ng-show="(!menuForm.name.$pristine && menuForm.name.$error.required) || (menuForm.$submitted && menuForm.name.$error.required)">This field is required</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button type="submit" class="btn btn-info">Add</button>
            </div>
        </div>


    </div>
</form>
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Menu</strong>
    </div>

    <table class="table table-condensed table-bordered">
        <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-5">Name</th>
            <th class="col-md-2">IsActive</th>
            <th class="col-md-3"></th>
        </tr>
        <tbody ng-repeat-start="menuItem in menu.menus">
            <tr>
                <td class="col-md-1">
                    <button ng-click="menuItem.isCollapsed=!menuItem.isCollapsed" expand>
                        <span ng-bind="menuItem.isCollapsed ? '-' : '+'"></span>
                    </button>
                    <span ng-if="menuItem.submenus.length <= 0" class="label label-success">new</span>
                </td>
                <td class="col-md-5">
                    <input ng-if="menuItem.menuEditMode" class="form-control" type="text" name="name" placeholder="Menu name" ng-model="menuItem.name">
                    <span ng-if="!menuItem.menuEditMode"> {{menuItem.name}}</span>
                </td>


                <td class="col-md-2">
                    <select class="form-control" ng-if="menuItem.menuEditMode" ng-options="ele for ele in menu.isActiveOptions" ng-model="menuItem.isActive">
                    </select>
                    <span ng-if="!menuItem.menuEditMode">{{menuItem.isActive}}</span>
                </td>
                <td class="col-md-3">
                    <button type="button" ng-show="!menuItem.menuEditMode" ng-click="menu.menuEdit(menuItem)" class="btn btn-warning">Edit</button>
                    <button type="button" ng-show="menuItem.menuEditMode" ng-click="menu.menuUpdate(menuItem)" class="btn btn-success">Update</button>
                    <button type="button" ng-show="menuItem.menuEditMode" class="btn" ng-click="menu.cancelUpdate(menuItem)">Cancel</button>
                </td>
            </tr>
        </tbody>
        <tbody ng-repeat-end ng-show="menuItem.isCollapsed">
            <tr>
                <th>#</th>
                <th colspan="3">Submenu</th>

            </tr>
            <tr>
                <td colspan="4">

                    <form name="menuItem.submenuForm" ng-submit="menu.addSubmenu(menuItem,menuItem.submenuForm.$valid);" novalidate>
                        <div class="row">
                            <div class="col-md-6" ng-class="{'has-success':(menuItem.submenuForm.name.$valid && !menuItem.submenuForm.name.$pristine),'has-error':(!menuItem.submenuForm.name.$valid && !menuItem.submenuForm.name.$pristine) || (!menuItem.submenuForm.name.$valid && menuItem.submenuForm.$submitted)}">
                                <div class="form-group">
                                    <input type="text" ng-model="menuItem.submenu.name" name="name" class="form-control input-flat" placeholder="name" required/>

                                    <p class="help-block" ng-show="(!menuItem.submenuForm.name.$pristine && menuItem.submenuForm.name.$error.required) || (menuItem.submenuForm.$submitted && menuItem.submenuForm.name.$error.required)">This field is required</p>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" ng-class="{'has-success':(menuItem.submenuForm.price.$valid && !menuItem.submenuForm.price.$pristine),'has-error':(!menuItem.submenuForm.price.$valid && !menuItem.submenuForm.price.$pristine) || (!menuItem.submenuForm.price.$valid && menuItem.submenuForm.$submitted)}">
                                    <input type="number" ng-model="menuItem.submenu.price" name="price" class="form-control input-flat" placeholder="Price" ng-pattern="/^\d{0,10}(\.\d{1,4})?$/"
                                        required/>
                                    <p class="help-block" ng-show="(!menuItem.submenuForm.price.$pristine && menuItem.submenuForm.price.$error.required) || (menuItem.submenuForm.$submitted && menuItem.submenuForm.price.$error.required)">This field is required</p>
                                    <span class="help-block" ng-show="(!menuItem.submenuForm.price.$pristine && menuItem.submenuForm.price.$error.pattern)">
                                        Please enter valid price!</span>
                                </div>
                            </div>



                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Add</button>
                                </div>
                            </div>


                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <th class="col-md-5">Name</th>
                            <th class="col-md-2">Price</th>
                            <th class="col-md-2">IsActive</th>
                            <th class="col-md-3"></th>
                        </tr>
                        <tbody ng-repeat="submenu in menuItem.submenus">
                            <tr>
                                <td class="col-md-6">
                                    <input ng-if="submenu.EditMode" class="form-control" type="text" name="edit_submenuname" placeholder="Submenu name" ng-model="submenu.name">
                                    <span ng-if="!submenu.EditMode"> {{submenu.name}}</span>
                                </td>
                                <td class="col-md-3">
                                    <input ng-if="submenu.EditMode" class="form-control" type="number" name="edit_submenuprice" placeholder="Submenu Price" ng-model="submenu.price">
                                    <span ng-if="!submenu.EditMode"> {{submenu.price}}</span>
                                </td>
                                <td class="col-md-3">
                                    <select class="form-control" ng-if="submenu.EditMode" ng-options="ele for ele in menu.isActiveOptions" ng-model="submenu.isActive">
                                    </select>
                                    <span ng-if="!submenu.EditMode"> {{submenu.isActive}}</span>
                                </td>
                                <td class="col-md-3">
                                    <button type="button" ng-show="!submenu.EditMode" ng-click="menu.submenumenuEdit(submenu,menuItem)" class="btn btn-warning">Edit</button>
                                    <button type="button" ng-show="submenu.EditMode" ng-click="menu.menuUpdate(menuItem)" class="btn btn-success">Update</button>
                                    <button type="button" ng-show="submenu.EditMode" class="btn" ng-click="menu.submenucancelUpdate(menuItem)">Cancel</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>

    </table>
</div>
<br>
<div class="text-center" ng-show="menu.loading">
    <div class="spinner">
    </div>
</div>

<br>
<div class="row show-hide-message" ng-show="menu.succMsg">
    <div class="alert alert-success">{{menu.succMsg}}</div>
</div>
<br>

<div class="row show-hide-message" ng-show="menu.errMsg">
    <div class="alert alert-danger">{{menu.errMsg}}</div>
</div>