<form name="menuForm" ng-submit="menu.addmenu(menuData,menuForm.$valid);" novalidate>


    <div class="row">
        <div class="col-md-6" ng-class="{'has-success':(menuForm.name.$valid && !menuForm.name.$pristine),'has-error':(!menuForm.name.$valid && !menuForm.name.$pristine) || (!menuForm.name.$valid && menuForm.$submitted)}">
            <div class="form-group">
                <input type="text" ng-model="menu.menuData.name" name="name" class="form-control input-flat" placeholder="name" required/>

                <p class="help-block" ng-show="(!menuForm.name.$pristine && menuForm.name.$error.required) || (menuForm.$submitted && menuForm.name.$error.required)">This field is required</p>
            </div>
        </div>

        <!-- <div class="col-md-3">
                        <div class="form-group">
                            <input type="text" data-ng-model="company.numberOfEmployees" name="numberOfEmployees" class="form-control input-flat" placeholder="numberOfEmployees"
                                required/>
                        </div>
                    </div> -->
        <div class="col-md-3">
            <div class="form-group">
                <button type="submit" class="btn btn-full btn-login input-flat">Add</button>
            </div>
        </div>


    </div>
</form>
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Menu</strong>
    </div>

    <table class="table table-condensed table-bordered">
        <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-5">Name</th>
            <th class="col-md-2">IsActive</th>
            <th class="col-md-3"></th>
        </tr>
        <tbody ng-repeat-start="menuItem in menu.menus">
            <tr>
                <td class="col-md-1">
                    <button ng-click="menuItem.isCollapsed=!menuItem.isCollapsed" expand>
                        <span ng-bind="menuItem.isCollapsed ? '-' : '+'"></span>
                    </button>
                    <!-- <a ng-click="menu.isCollapsed=!menu.isCollapsed">collapse</a> -->
                </td>
                <td class="col-md-5">
                    <input ng-if="menuItem.menuEditMode" class="form-control" type="text" name="name" placeholder="Menu name" ng-model="menuItem.name">
                    <span ng-if="!menuItem.menuEditMode"> {{menuItem.name}}</span>
                </td>
                <td class="col-md-2">{{menuItem.isActive}}</td>
                <td class="col-md-3">
                    <button type="button" ng-show="!menuItem.menuEditMode" ng-click="menu.menuEdit(menuItem)" class="btn">Edit</button>
                    <button type="button" ng-show="menuItem.menuEditMode" ng-click="menu.menuUpdate(menuItem)" class="btn btn-success">Update</button>
                    <button type="button" ng-show="menuItem.menuEditMode" class="btn" ng-click="menu.cancelUpdate(menuItem)">Cancel</button>
                </td>
            </tr>
        </tbody>
        <tbody ng-repeat-end ng-show="menuItem.isCollapsed">
            <tr>
                <th>#</th>
                <th colspan="3">Submenu</th>

            </tr>
            <tr>
                <td colspan="4">
                    <form name="submenuForm" ng-submit="menu.addSubmenu(menuItem,submenuData,submenuForm.$valid);" novalidate>
                        <div class="row">
                            <div class="col-md-6" ng-class="{'has-success':(submenuForm.name.$valid && !submenuForm.name.$pristine),'has-error':(!submenuForm.name.$valid && !submenuForm.name.$pristine) || (!submenuForm.name.$valid && submenuForm.$submitted)}">
                                <div class="form-group">
                                    <input type="text" ng-model="menu.submenu.name" name="name" class="form-control input-flat" placeholder="name" required/>

                                    <p class="help-block" ng-show="(!submenuForm.name.$pristine && submenuForm.name.$error.required) || (submenuForm.$submitted && submenuForm.name.$error.required)">This field is required</p>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" data-ng-model="menu.submenu.price" name="price" class="form-control input-flat" placeholder="Price" required/>
                                    <p class="help-block" ng-show="(!submenuForm.price.$pristine && submenuForm.price.$error.required) || (submenuForm.$submitted && submenuForm.price.$error.required)">This field is required</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-full btn-login input-flat">Add</button>
                                </div>
                            </div>


                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3">
                    <table class="table table-condensed table-bordered">
                        <tr>
                            <th class="col-md-6">Name</th>
                            <th class="col-md-3">Price</th>
                            <th class="col-md-3">IsActive</th>
                        </tr>
                        <tbody ng-repeat="submenu in menuItem.submenus">
                            <tr>
                                <td class="col-md-6">
                                    {{submenu.name}}
                                </td>
                                <td class="col-md-3"> {{submenu.price}}</td>
                                <td class="col-md-3">{{submenu.isActive}}</td>
                                <!-- <td>
                                    <button type="button" class="btn btn-primary">Edit</button>
                                </td> -->
                            </tr>
                        </tbody>

                        <!-- <ul>
                            <li ng-repeat="submenu in menu.submenus">
                                {{submenu.name}}
                            </li>
                        </ul> -->
                    </table>

                </td>
            </tr>
        </tbody>

    </table>
</div>

<!-- <button class="btn btn-primary" type="button" ng-click="menu.showCreateForm = true">Create New</button> -->


<br>
<div class="jumbotron text-center" ng-show="menu.loading">
    <h4>
        <span class="glyphicon glyphicon-repeat spinner">
            Loading....
        </span>
    </h4>
</div>
<br>
<div class="row show-hide-message" ng-show="menu.succMsg">
    <div class="alert alert-success">{{menu.succMsg}}</div>
</div>
<br>

<div class="row show-hide-message" ng-show="menu.errMsg">
    <div class="alert alert-danger">{{menu.errMsg}}</div>
</div>